[run]
omit =
    hass_gdrive_backup/backup/logger.py
    hass_gdrive_backup/backup/tracing_session.py
    hass_gdrive_backup/backup/ui/debug.py
    hass_gdrive_backup/backup/server/cloudlogger.py
    hass_gdrive_backup/backup/debug/*
