python-dateutil
watchdog
pyyaml
dnspython
pytest>=5.4.0
pytest-timeout
pytest-repeat
pytest-asyncio
flake8
mypy
aiorun
aiohttp
aiodns
injector
autopep8
colorlog
debugpy
aiohttp-jinja2
beautifulsoup4
aioping
pytz
tzlocal
pytest-cov
pytest-xdist
