python-dateutil
watchdog
pyyaml
dnspython
pytest>=5.4.0
pytest-timeout
pytest-repeat
pytest-asyncio
flake8
mypy
aiorun
aiohttp
aiodns
injector
autopep8
colorlog
debugpy
google-cloud-logging
google-cloud-firestore
aiohttp-jinja2
beautifulsoup4
firebase-admin
grpcio
aioping
pytz
tzlocal
pytest-cov
pytest-xdist
